#services {
    margin-block-end: 1rem;

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 
        2rem;

        article {
            display: flex;
            gap: 1.5rem;
            box-shadow: $shadow-1;
            background: $white;
            padding: 1.5rem;
            border-radius: .5rem;
            height: fit-content;
            transition: all 300ms ease;

            &:hover {
                margin-top: -0.5rem;
                box-shadow: $shadow;
            }

            i {
                font-size: 1.7rem;
                color: $secondary-color;
            }

            div {
                h4 {
                   color: $secondary-color;
                   margin-block-end: 1rem; 
                }
                small {
                    color: $dark-color;
                }
            }
        }
    }
}


/*==========Media Query 1024px==========*/
@media (max-width: 1024px) {
    #services {

        .container {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }

        article {
            padding: 1.2rem;
            gap: .8rem;
        }

        &:hover {
            margin: 0;
        }
    }
}


/*==========Media Query 600px==========*/
@media (max-width: 600px) {
    #services {

        .container {
            grid-template-columns: 1fr;

            article {
                div {
                    h4 {
                        margin-block-end: .8rem;
                    }
                }
            }
        }
    }
}